.main {
    display: grid;
    grid-template-rows: 80px min-content 300px;
}


/* Navigation bar */
.header {
    height: 80px;
    box-shadow: 0 5px 5px -5px grey;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
}


.blog_title {
    width: 200px;
    height: 40px;
    margin: 20px 40px;
}


.nav_menu {
    width: 400px;
    display: flex;
    justify-content: space-around;
}


.navbar_link {
    width: 100px;
    height: 40px;
    margin: 20px 0;
}


/* Title block */
.title {
    font-size: 1.5em;
}


.headline_pic {
    height: 300px;
    width: 600px;
}


/* Ariticle container */
.article_container {
    grid-row:  2 / 3;
    margin-left: 10%;
    margin-right: 10%;
}


/* Article info block */
.article_info {
    width: 100%;
    height: 100px;
    display: flex; 
}


.author_info {
    margin: 10px;
    height: 80px;
    width: 300px;
    display: grid;
    grid-template-areas:
    "Left Right-1"
    "Left Right-2"
    "Left Right-3"
    "Left Right-4";
}


#avatar_img {grid-area: Left;}


#author_name {grid-area: Right-1;}


#author_title {grid-area: Right-2;}


#author_company {grid-area: Right-3;}


#article_date {grid-area: Right-4;}

.author_bio {
    margin: 10px;
    height: 80px;
    width: 300px;
}


.social_sharing {
    margin: 10px;
    height: 80px;
    width: 300px;
}

/* Footer */
.footer {
    grid-row:  3 / 4;
    height: 300px;
    background-color: grey;
}


