@import "./navbar.css";
@import "./footer.css";
@import "./design_system.css";


.main {
    display: grid;
    grid-template-rows: min-content min-content min-content;
}


/* Ariticle container */
.article_container {
    grid-row:  2 / 3;
    margin: 0 15vw;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}

/* Title block */
.title_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social_sharing {
    margin: 10px 0;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(100%);
}


/* Headline pic */
figure {
    margin: 0 0;
}


.headline_pic {
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
}


/* Article info block */
/*
.article_info {
    width: min-content;
    height: 100px;
    display: flex;
    margin: 10px 0;
}
*/


.article_info_text {
    margin: 0;
}


.article_info {
    margin: 10px 0;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-areas:
    "Left Mid-1 Right"
    "Left Mid-2 Right"
    "Left Mid-3 Right"
    "Left Mid-4 Right";
    grid-template-columns: 1fr 2fr 2fr;
}


#avatar_img {
    grid-area: Left;
    filter: grayscale(100%);
    padding: 0 0;
}


#author_name {
    grid-area: Mid-1;
}


#author_title {
    grid-area: Mid-2;
}


#author_company {
    grid-area: Mid-3;
}


#article_date {
    grid-area: Mid-4;
}


#author_bio {
    grid-area: Right;
}

/* media queries */
/* tablet-sized & small-size screens */
@media (max-width: 1000px) {
    /* Ariticle container */
    .article_container {
        margin: 0 5vw; 
    }


    /* title block */ 
    .title_block {
        flex-direction: column;
        align-items: flex-start;
    }
}


    