h1 {
    font-family: sans-serif;
    color: rgb(0, 29, 4);
    font-weight: normal;
}


h2 {
    font-family: sans-serif;
    color: rgb(1, 39, 6);
}   


h3 {
    font-family: sans-serif;
    color: rgb(1, 39, 6);
}


p {
    font-family: sans-serif;
    line-height: 1.5em;
}


p strong {
    color: rgb(1, 39, 6);
}


a {
    font-family: sans-serif;
    color: rgb(1, 39, 6);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}