@import "./navbar.css";
@import "./footer.css";


.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-gap: 50px;
}


@media (max-width: 1200px) {
    .main {
        grid-gap: 10px;
    }
}


/* Featured-article card */
.feature_card {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


@media (max-width: 1200px) {
    .feature_card {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
    }
}


#feature_pic {
    max-width: 100%;
    margin: 0;
    border-radius: 5px;
    object-fit: scale-down;
    
}


#feature_text_container {
    margin: 0 20px;    
    display: flex;
    flex-direction: column;
}


@media (max-width: 1000px) {
    #feature_text_container {
        margin: 0 0;
    }
}


/* Card container grid */
.card_container {
    grid-area: 3 / 1 / 4 / 2;
    margin: 0 5vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
    "ten eleven twelve"
    ;
}


@media (max-width: 1200px) {
    .card_container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "one two"
        "three four"
        "five six"
        "seven eight"
        "nine ten"
        "eleven twelve"
        ;
    }    
}    


@media (max-width: 800px) {
    .card_container {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        flex-direction: column;
    }    
}    


#card_one {
    grid-area: one;
}


#card_two {
    grid-area: two;
}


#card_three {
    grid-area: three;
}


#card_four {
    grid-area: four;
}


#card_five {
    grid-area: five;
}


#card_six {
    grid-area: six;
}


#card_seven {
    grid-area: seven;
}


#card_eight {
    grid-area: eight;
}


#card_nine {
    grid-area: nine;
}


#card_ten {
    grid-area: ten;
}


#card_eleven {
    grid-area: eleven;
}


#card_twelve {
    grid-area: twelve;
}


/* Individual blog post card */
.blog_card {
    padding: 25px 25px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto;
    max-width: 100%;
}


@media (max-width: 800px) {
    .blog_card {
        padding: 0 0;
    }
}


.blog_card:hover {
    background-color: var(--theme-color-secondary);
    transition: background-color 500ms;
}   


.card_pic {
    grid-row: 1 / 2;
    border-radius: 5px;
    object-fit: scale-down;
    max-width: 100%;
}    


@media (max-width: 800px) {
    .card_blurb {
        display: none;
    }
}


.card_text_container {
    grid-row: 2 / 3;
    max-height: 300px;
}