/* Navigation bar */
.header {
    grid-area: 1 / 1 / 2 / 2;
    height: 80px;
    display: grid;
    grid-template-columns: 150px 1fr 150px; 
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    border-bottom: 1px solid var(--theme-color-secondary);
}


.blog_title {
    width: 130px;
    max-height: 50px;
    background-color: var(--theme-color-primary);
    padding: 10px 10px;
}


.nav_menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.navbar_link {
    width: 120px;
    margin: 20px 0;
    text-align: center;
}


.navbar_link:hover {
    text-decoration: underline;
}


/* media queries */
/*smaller screens i.e. mobile devices */
@media (max-width: 700px) {
    .header {
        height: auto;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        grid-gap: 0;
        padding: 0 0;
    }
    
    
    .blog_title {
        width: 100%;
        height: 50px;
    }
    
    
    .nav_menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px;
    }


    .navbar_link {
        width: 100%;
        height: 30px;
        margin: 0 0;
        padding: 10px 10px;
        text-align: left;
        background-color: var(--theme-color-secondary);
    }
}
