/* Navigation bar */
.header {
    height: 80px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 1px solid var(--theme-color-secondary);
}


.blog_title {
    width: 150px;
    height: 50px;
    background-color: var(--theme-color-primary);
    padding: 10px 10px;
}


.nav_menu {
    width: 500px;
    display: flex;
    justify-content: space-around;
}


.navbar_link {
    width: 100px;
    margin: 20px 0;
}


